body,
html {
  background: #ecf0f5;
}

.line {
  border-left: 3px solid #dd1818;
}

.btn {
  background: #fff;
  color: #dd1818;
  border: 1px solid #dd1818;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background: #dd1818;
  color: #fff;
}

label {
  text-transform: capitalize;
}

.header .logo,
.header .name {
  height: 50px;
}

.header h2 {
  text-align: right;
}

#move {
  animation: move 1.5s;
  position: absolute;
  transition: all 0.5s ease-in-out;
  transform: translate(0);
}

@keyframes move {
  0% {
    transform: translate(0) rotate(720deg);
  }
  50% {
    transform: translate(80px) rotate(180deg);
  }
  100% {
    transform: translate(0) rotate(720deg);
  }
}

.header .bars {
  width: 40px;
  height: 40px;
  background: 333;
  position: relative;
}

.header .icon {
  width: 15px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.header .icon:after,
.header .icon:before {
  content: "";
  width: 15px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
  margin: auto;
  transition: all 0.5s ease-in-out;
}

.header .icon:before {
  top: -10px;
}

.header .icon:after {
  top: 10px;
}

.header .logo {
  background: linear-gradient(to left, #dd1818, #333333);
  padding-right: 0;
  padding-left: 0;
}

.header .logo a {
  text-decoration: none;
}

.header .logo h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  padding: 15px 15px;
}

.header .name {
  background: #383838;
  width: 100%;
}

.header .name h2 {
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  padding: 4px 15px;
}

/* end header */

/* start dashboard */

.panel {
  background: rgb(0, 192, 239);
  width: 100%;
  height: 150px;
  position: relative;
  padding: 15px 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.panel:hover .bag {
  transform: scale(1.1, 1.1);
}

.panel .bag {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 2px;
  transition: all 0.5s ease-in-out;
  margin-top: 10px;
}

.panel .orders h2 {
  color: #fff;
  font-size: 40px;
}

.panel .orders p {
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
}

.panel a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.panel .more {
  background: rgb(6, 154, 190);
  padding: 5px 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#second {
  background: #00a65a;
}

#second .more {
  background: #078b50;
}

#third {
  background: #f39c12;
}

#third .more {
  background: #c9810e;
}

#fourth {
  background: #dd4b39;
}

#fourth .more {
  background: #b13423;
}

/* end dashboard */

/* start all */

.form-control:focus {
  border: 1px solid red;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0);
}

.col-md-2 {
  padding-left: 0;
  padding-right: 0;
}

.card {
  border-radius: 0;
}

#sidebar {
  z-index: 3;
  top: 50px;
  transition: all 0.25s ease;
  transform: translateX(-45px);
  overflow-x: visible;
}

#sidebar .list-group .collapse.show,
#sidebar .list-group .collapsing {
  position: relative;
  z-index: 22;
  width: 245px;
  top: 0;
}

#sidebar.open,
.bars.open {
  width: 43px;
}

#sidebar .list-group {
  min-width: 55px;
  background-color: #333;
  min-height: 100vh;
  overflow: hidden;
}

#sidebar .fa {
  margin-right: 6px;
  font-size: 16px;
}

#sidebar span {
  font-size: 12px;
}

#sidebar span:after.move {
  transform: rotate(270deg);
}

#sidebar span.remove {
  display: none;
}

/* #sidebar span .fa {
    transition: all .5s ease-in-out;
}

#sidebar span .fa.open {
    transform: rotate(270deg);
    font-size: 12px;
} */

#sidebar .list-group-item {
  background-color: #333;
  color: #ccc;
  border: none;
}

/* highlight active menu */

#sidebar .list-group-item:not(.collapsed) {
  background-color: #222;
}

/* closed state */

#sidebar .list-group .list-group-item span[aria-expanded="false"]:after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */

#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #333;
}

#sidebar .list-group .list-group-item span[aria-expanded="true"]:after {
  content: "\f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/

#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item {
  padding-left: 20px;
}

/* level 2*/

#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
  padding-left: 30px;
}

/* level 3*/

#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
  padding-left: 40px;
}

#sidebar.show {
  transform: translateX(0);
}

#sidebar::-webkit-scrollbar {
  width: 0px;
}

.collapse.show {
  visibility: visible;
}

.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* start main */

.all .collapse .child {
  font-size: 12px;
  color: #777;
  padding-right: 13px;
}

.all form {
  background: #fff;
  padding: 20px 10px;
  margin: 5px 10px;
  width: 100%;
  border-top: 2px solid #dd1818;
}

.all .main {
  top: 50px;
}

.all .main .parent {
  border-top: 2px solid #dd1818;
}

.all .main.up,
.name.up {
  max-width: 95%;
  transition: all 0.5s ease-in-out;
}

.all .main h5 {
  text-transform: capitalize;
  color: #777;
  padding: 10px 10px;
}

.all .main .add {
  display: inline-flex;
}

.all .main .add nav {
  position: absolute;
  right: 25px;
}

/* table */

.all .main .parent {
  padding: 15px 15px 15px 215px;
  background: #fff;
}

.all .main .parent span {
  text-transform: capitalize;
  color: #777;
}

.dataTables_wrapper {
  margin-top: 20px;
}

/* start kind input */

textarea {
  resize: none;
  height: 250px;
}

.dataTables_filter {
  display: none;
}

/* start kind input */

/* start timeline */

.social {
  padding: 10px 0 10px 40px;
}

.social:before {
  content: "";
  position: absolute;
  width: 2px;
  background: #cac6c6;
  left: 48px;
  bottom: 0;
  top: 55px;
}

.social .timeline {
  background: #fff;
  padding: 15px 15px;
  width: 100%;
  position: relative;
  width: 95%;
  margin-bottom: 15px;
}

.social .timeline .fa {
  position: absolute;
  background: #0073b7;
  border-radius: 50%;
  color: #fff;
  top: 15px;
  left: -65px;
  padding: 8px 8px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 15px;
}

.social .timeline h4 {
  text-transform: capitalize;
  color: #777;
  font-weight: bolder;
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
}

.social .timeline h4:after {
  position: absolute;
  content: "";
  background: rgba(221, 221, 221, 0.74);
  bottom: -10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
}

.social .timeline a {
  text-decoration: none;
  font-size: 16px;
}

/* end timeline */

@media (max-width: 768px) {
  #sidebar {
    min-width: 35px;
    max-width: 40px;
    overflow-y: auto;
    overflow-x: visible;
    transition: all 0.25s ease;
    transform: translateX(-45px);
    position: fixed;
  }
  #sidebar.show {
    transform: translateX(0);
  }
  #sidebar::-webkit-scrollbar {
    width: 0px;
  }
  #sidebar,
  #sidebar .list-group {
    min-width: 35px;
    overflow: visible;
  }
  /* overlay sub levels on small screens */
  #sidebar .list-group .collapse.show,
  #sidebar .list-group .collapsing {
    position: relative;
    z-index: 1;
    width: 190px;
    top: 0;
  }
  #sidebar .list-group > .list-group-item {
    text-align: center;
    padding: 0.75rem 0.5rem;
  }
  /* hide caret icons of top level when collapsed */
  #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
  #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
    display: none;
  }
  #sidebar span,
  .navbar-toggler {
    display: none;
  }
  .header h2 {
    text-align: center;
    margin-top: 10px;
  }
  #sidebar,
  #sidebar .list-group {
    margin-top: 25px;
  }
}
